<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleIdentifier</key>
		<string>ue4</string>
		<key>CFBundleName</key>
		<string>Unreal Engine 4</string>
		<key>DocSetPlatformFamily</key>
		<string>ue4</string>
		<key>isDashDocset</key>
		<true />
		<key>dashIndexFilePath</key>
		<string>en-US/index.html</string>
		<key>DashDocSetFallbackURL</key>
		<string>https://docs.unrealengine.com/</string>
	</dict>
</plist>